#avocado {
  position: relative;
  top: -147px;
  left: 400px;
  visibility: hidden;
}

#apple{
  position: relative;
  left: 800px;
  top: 50px;
}

#carrot{
   position: relative;
   left: 1060px;
   top: -190px;
 }


#berry{
  position: relative;
  left: 300px;
  top: 90px;
}