html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}


.login-register{
  width: 100vw;
  /*height: 100vh;*/
  display:flex;
  justify-content: center;
  background-color: white;
  flex-direction: row;

}

.login{
  width: 50%;
  background-color: green;
  text-align: start;
  padding-left: 51px;
  color: white;
}

.register1{
  padding-right: 40px;
  width: 50%;
  background-color: red;
  color: white;
  text-align: end;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}

.button-two{
  text-align: center;
  cursor: pointer;
  font-size:24px;
}

/*Button Two*/

.button-two {
  border-radius: 4px;
  background-color:#998675;
  border: none;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  color:white;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
right: 0;
}
